@using Components

@inherits LayoutComponentBase
@implements IErrorComponent

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content">
        <CascadingValue Value="this" Name="ErrorComponent">
            @Body
        </CascadingValue>
    </div>

    <div class="fixed-bottom mx-auto" style="width: 80%">
        @if (isErrorActive)
        {
            <div class="alert alert-danger mb-0" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="HideError">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3>@title</h3>
                <p>@message</p>
            </div>
        }
    </div>   
</div>

@code {
    //see for explanation about errors: https://nightbaker.github.io/gitflow/azure/piplines/2020/01/22/blazor-error-component/
    bool isErrorActive;
    string title = "";
    string message = "";

    public void ShowError(string title, string message)
    {
        this.isErrorActive = true;
        this.title = title;
        this.message = message;
        StateHasChanged();
    }

    private void HideError()
    {
        isErrorActive = false;
    }
}
